
<address>
    <strong>SupportingTiger:</strong>   <a href="mailto:Support@example.com">TigerSupport@example.com</a><br />
    <strong>MarketingTiger:</strong> <a href="mailto:Marketing@example.com">TigerMarketing@example.com</a>
</address>